body {
    background-color: red;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.polaroid {
    width: 500px;
    margin: 20px;
    display: inline-block;
    position: relative;
}

.polaroid img {
   width: 100%;
   height: auto;
   border: 10px solid;
   border-bottom-width: 80px;
}

.polaroid img:hover{
    border-color: white;
}
.polaroid p {
    position: absolute;
    bottom: -5px;
    font-size: 2rem;
    width: 500px;
    text-align: center;
    color: #ff0000;
  }